* {
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container  {
    background-color: #121212;
    width: 700px;
    color: #FFFFFF;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;

    border: 5px solid #333;
}

.rede-social h2{
    text-align: center;
}

.rede-social ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.rede-social li {
    margin-bottom: 0 12px;
}

.rede-social a {
    color: #000000;
    text-decoration: none;
    font-size: 24px;
    margin: 0 12px;
}

.rede-social a:hover {
    color: #FF0000;
}
